mainmenu "xiaomi"


rsource "./src/uart_ipc/Kconfig"
rsource "./src/io/Kconfig"

config XIAOMI_MAX_DEVICES
	int "Maximum XIAOMI devices supported"
	default 13
	help
		Maximum XIAOMI devices supported.

config ACTIVE_SCAN_DURATION
	int "Active scan duration (in seconds)"
	default 30
	help
		Active scan duration (in seconds)

config PASSIVE_SCAN_DURATION
	int "Passive scan minimum required duration (in seconds)"
	default 3570
	help
		Passive scan minimum required duration (in seconds)

config DATAFRAME_MIN_INTERVAL
	int "Dataframe sent minimum interval (in seconds)"
	default 15
	help
		"Dataframe sent minimum interval (in seconds)"

source "Kconfig.zephyr"