/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>

/ {
	model = "Custom board with ACN52840 module";
	compatible = "nordic,nrf52840-dk-nrf52840";

	chosen {
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,uart-mcumgr = &uart0;
		zephyr,bt-mon-uart = &uart0;
		zephyr,bt-c2h-uart = &uart0;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
	};

	leds {
		compatible = "gpio-leds";

		/* embedded RGB led */
		led_red {
			gpios = <&gpio1 0x34 GPIO_ACTIVE_LOW>;
			label = "LED RED";
		};
		led_blue {
			gpios = <&gpio1 0x36 GPIO_ACTIVE_LOW>;
			label = "LED BLUE";
		};
		led_green {
			gpios = <&gpio1 0x38 GPIO_ACTIVE_LOW>;
			label = "LED GREEN";
		};

		led0 {
			gpios = <&gpio0 12 GPIO_ACTIVE_LOW>;
			label = "LED TX";
		};
		led1 {
			gpios = <&gpio0 13 GPIO_ACTIVE_LOW>;
			label = "LED RX";
		};
		led2 {
			gpios = <&gpio0 15 GPIO_ACTIVE_LOW>;
			label = "LED BLE";
		};
	};

	pwmleds {
		compatible = "pwm-leds";

		pwm_led0: pwm_led_tx {
			pwms = <&pwm0 12>;
		};
		pwm_led1: pwm_led_rx {
			pwms = <&pwm0 13>;
		};
		pwm_led2: pwm_led_ble {
			pwms = <&pwm0 15>;
		};
	};

	buttons {
		compatible = "gpio-keys";
		button0: button {
			gpios = <&gpio0 17 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Main user button";
		};
	};

	aliases {
		ipc-uart = &uart1;

		ble-led = &pwm_led2;
		ipc-rx-led = &pwm_led1;
		ipc-tx-led = &pwm_led0;
		user-button = &button0;

		counter = &timer3;

		/* if prefer rtc2 */
		counter-alt = &rtc2;
	};
};

/* debug uart: default config */
&uart0 {
	compatible = "nordic,nrf-uarte";
	status = "okay";
	current-speed = <115200>;
	tx-pin = <6>;
	rx-pin = <8>;
	rx-pull-up;
	// rts-pin = <5>;
	// cts-pin = <7>;
	// cts-pull-up;
};

/* ipc uart */
&uart1 {
	compatible = "nordic,nrf-uarte";
	status = "okay";

	/* 1200, 2400, 4800, 9600, 14400, 19200, 28800, 31250, 38400, 56000, 57600, 76800, 115200, 230400, 250000, 460800, 921600, 1000000 */
	current-speed = <19200>;
	rx-pin = <27>;
	rx-pull-up;
	tx-pin = <26>;
	parity = "none";
};

&pwm0 {
	status = "okay";

	ch0-pin = <12>;
	ch0-inverted;

	ch1-pin = <13>;
	ch1-inverted;

	ch2-pin = <15>;
	ch2-inverted;
};

&pwm1 {
	status = "disabled";
};

&pwm2 {
	status = "disabled";
};

&pwm3 {
	status = "disabled";
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x000000000 0x0000C000>;
		};
		slot0_partition: partition@c000 {
			label = "image-0";
			reg = <0x0000C000 0x00067000>;
		};
		slot1_partition: partition@73000 {
			label = "image-1";
			reg = <0x00073000 0x00067000>;
		};
		scratch_partition: partition@da000 {
			label = "image-scratch";
			reg = <0x000da000 0x0001e000>;
		};

		/*
		 * The flash starting at 0x000f8000 and ending at
		 * 0x000fffff is reserved for use by the application.
		 */

		/*
		 * Storage partition will be used by FCB/LittleFS/NVS
		 * if enabled.
		 */
		storage_partition: partition@f8000 {
			label = "storage";
			reg = <0x000f8000 0x00008000>;
		};
	};
};